@import '/src/assets/inter/inter.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 1.2rem;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    p {
        @apply text-lg;
    }
}

body {
    @apply bg-gradient-to-r from-[#0B3F63] via-[#163F87] to-[#203FAB];
}

body,
div#app-grid {
    @apply min-h-dvh;
}

/* body {
    --sb-track-color: #d9e6ec;
    --sb-thumb-color: #006f9c;
    --sb-size: 12px;
}

*::-webkit-scrollbar {
    width: var(--sb-size);
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 0px0px 9px 0px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 0px 0px 18px 0px;
    border: 3px solid #d9e6ec;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
} */